options {
    default_shell "/opt/homebrew/bin/fish";
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
  session-manager { path "session-manager"; }
}

themes {
    kanagawa_dragon {
        fg "#dcdccc"
        bg "#1a1a1a"
        red "#C34043"
        green "#728F66"
        yellow "#9D8F6F"
        blue "#8BA4B0"
        magenta "#ff79c6"
        cyan "#8be9fd"
        orange "#ffb86c"
        black "#282828"
        white "#8D908D"
    } 

    everforest {
        fg "#d3c6aa"
        bg "#282828"
        red "#e67e80"
        green "#a7c080"
        yellow "#dbbc7f"
        blue "#7fbbb3"
        magenta "#d699b6"
        cyan "#83c092"
        orange "#e69875"
        black "#1a1a1a"
        white "#8D908D"
    }
}

theme "everforest"

default_layout "work_everforest"
